<div class="container" id="app">
  <h1>{{title}}</h1>
  <ul ngbNav #nav="ngbNav" class="navbar-dark bg-primary">
    <li ngbNavItem>
      <a ngbNavLink class="text-light" routerLink="/things">Things</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink class="text-light" routerLink="/cars">Cars</a>
      
    </li>
  </ul>
  
  <router-outlet></router-outlet>
</div>  