    <div>
      <div class="py-5 text-center">
        <h2>Cars</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <form [formGroup]="carForm" (ngSubmit)="onSubmit(carForm.value)" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="make">Make</label>
                <input type="text" class="form-control" id="make" value="" required formControlName="make">
                <div class="invalid-feedback">
                    A car make is required.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" value="" required formControlName="model">
                <div class="invalid-feedback">
                    A car model is required.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="year">Year</label>
                <input type="number" class="form-control" id="year" min="1900" value="2020" required formControlName="year">
                <div class="invalid-feedback">
                    A model year is required.
                </div>
              </div>
              
              <div class="col-md-4 mb-3">
                <label for="mileage">Mileage</label>
                <input type="number" class="form-control" id="mileage" min=1 value="0" required formControlName="mileage">
                <div class="invalid-feedback">
                    A mileage is required.
                </div>
              </div>
              
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add car</button>
          </form>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Mileage</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars$ | async"> 
            <th scope="row">{{car.id}}</th>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.mileage}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteCar(car.id)">Delete</button></td>
          </tr>

        </tbody>
      </table>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 CPSC 2650</p>
      </footer>
    </div>

